<% provide(:title, @user.name) %>

<div class="main posts-index">
  <div class = "container">
    <div class  = "posts-index-item">
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <h1>
              <%= gravatar_for @user %>
              <%= @user.name %>
              <% @user ||= current_user %>
              
              <div class="stats">

              <a href="<%= following_user_path(@user) %>">
              <strong id="following">
                 <%= @user.following.count %>
              </strong>
              following
              </a>
              <a href="<%= followers_user_path(@user) %>">
                <strong id="followers" class="stat">
                <%= @user.followers.count %>
              </strong>
              followers
              </a>
              
              </div>
            
            </h1>
          </section>
          
        </aside>
        <% unless current_user?(@user) %>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
              html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: "btn" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, @user.id %></div>
                <%= f.submit "Follow", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        
        <% if logged_in? %>
    <% @posts.each do |post| %>
      
        <!-- 以下の<%= %>を使って投稿内容を表示してください -->
        
        <% time=Time.now %>
        
        <% time = time + 9.hour %>
        <% post.created_at = post.created_at + 9.hour %>
        
        
        <% if post.created_at.year == time.year %>
          <% if post.created_at.month == time.month %>
            <% if post.created_at.day == time.day %>
              <% if post.limit.hour > time.hour %>
                <div class="posts-index-item">
                  <%= current_user.name %>&nbsp;&nbsp;<%= "~" %> <%= link_to(post.limit.strftime('%H:%M'),"/posts/#{post.id}") %>&nbsp;&nbsp;<%= link_to(post.purpose,"/posts/#{post.id}") %>
                </div>
              <% elsif post.limit.hour == time.hour %>
                <% if post.limit.min >= time.min %>
                  <div class="posts-index-item">
                    <%= current_user.name %>&nbsp;&nbsp;<%= "~" %> <%= link_to(post.limit.strftime('%H:%M'),"/posts/#{post.id}") %>&nbsp;&nbsp;<%= link_to(post.purpose,"/posts/#{post.id}") %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        
        
        
    <!-- 以下の<% %>を使ってeach文のendを追加してください -->
    <% end %>
  <% end %>
          
      </div>
    </div>
  </div>
</div>