<header>
  <div class="header-logo">
    <a href="/">Hima_Board</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Time Line</a>
    </li>
  </ul>
</header>


<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <!-- 以下の<%= %>を使って投稿内容を表示してください -->
        <!-- <%= post.name  %>&nbsp;&nbsp;&nbsp;<%= "~" %> <%= post.limit.hour %> <%= ":" %> <% if post.limit.min == "0" %> <%=-"00"%> <% else %> <%= post.limit.min+post.limit.min %> <% end %> <%= post.limit.min %>&nbsp;&nbsp;&nbsp;<%= post.purpose %>-->
        <%= post.name %>&nbsp;&nbsp;<%= "~" %> <%= post.limit.strftime('%H:%M') %>&nbsp;&nbsp;<%= post.purpose %>
      </div>
    <!-- 以下の<% %>を使ってeach文のendを追加してください -->
    <% end %>
  </div>
</div>