
<div class="main posts-index">

  <div class="container">
    <% @posts.each do |post| %>
      
        <!-- 以下の<%= %>を使って投稿内容を表示してください -->
        
        <% time=Time.now %>
        
        <% time = time + 9.hour %>
        <% post.created_at = post.created_at + 9.hour %>
        
        
        <% if post.created_at.year == time.year %>
          <% if post.created_at.month == time.month %>
            <% if post.created_at.day == time.day %>
              <% if post.limit.hour > time.hour %>
                <div class="posts-index-item">
                  <%= "~" %> <%= link_to(post.limit.strftime('%H:%M'),"/posts/#{post.id}") %>&nbsp;&nbsp;<%= link_to(post.purpose,"/posts/#{post.id}") %>
                </div>
              <% elsif post.limit.hour == time.hour %>
                <% if post.limit.min >= time.min %>
                  <div class="posts-index-item">
                    <%= "~" %> <%= link_to(post.limit.strftime('%H:%M'),"/posts/#{post.id}") %>&nbsp;&nbsp;<%= link_to(post.purpose,"/posts/#{post.id}") %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        
        
        
    <!-- 以下の<% %>を使ってeach文のendを追加してください -->
    <% end %>
  </div>
</div>